# Root binary
/xport
/xport-*
*.exe
*.test

# Local environment files
.env


# Keys and certificates generated during testing
*.crt
*.key

# Data directories
ws/
keys/
.sent/
.failed/
.staging/
incoming/*
